/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

/* Start Global Rules */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* start global rooles */

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --border-radius: 1.25em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: var(--Pale-blue);
  background-size: contain;
  background-image: url(../images/pattern-background-desktop.svg);
  font-family: "Red Hat Display", sans-serif;
}

.conatiner,
.attribution {
  place-self: center;
}
/* End Global Rules */

/* start card style */

@media (max-width: 767px) {
  body {
    background-image: url("../images/pattern-background-mobile.svg");
  }
}

.conatiner {
  border-radius: var(--border-radius);
  width: 28.125em;
  box-shadow: 0 0.625em 0.9375em 0.3125em rgb(0 0 0 / 10%);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

@media (max-width: 1200px) {
  .conatiner {
    width: 21.875em;
  }
}

.conatiner > img {
  max-width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: block;
}

/* card head */
.conatiner .card-head {
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  padding: 3.4375em 2.5em;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@media (max-width: 1200px) {
  .conatiner .card-head {
    padding: 2.15em 1.255em;
  }
}

.card-title h2 {
  font-weight: 900;
  margin-bottom: 1em;
  color: var(--Dark-blue);
  font-size: 1.55em;
}

@media (max-width: 1200px) {
  .card-title h2 {
    margin-bottom: 0.5rem;
  }
}

.card-title p {
  font-size: 1.055em;
  color: var(--Desaturated-blue);
  line-height: 1.6;
  font-weight: 500;
}

@media (max-width: 1200px) {
  p,
  h3 {
    font-size: 1em !important;
  }
}
/* card body */

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Very-pale-blue);
  border-radius: calc(var(--border-radius) - 0.3125em);
  padding: 1.55em 1.25em;
  -webkit-border-radius: calc(var(--border-radius) - 0.3125em);
  -moz-border-radius: calc(var(--border-radius) - 0.3125em);
  -ms-border-radius: calc(var(--border-radius) - 0.3125em);
  -o-border-radius: calc(var(--border-radius) - 0.3125em);
}

@media (max-width: 1200px) {
  .card-body {
    padding: 0.9375em;
  }
}

.card-body .card-price {
  display: flex;
  align-items: center;
}

.card-body .card-price .icon-card {
  margin-right: 1.25em;
}

.card-price .text-card h3 {
  margin-bottom: 0.65em;
  font-weight: 900;
  font-size: 1.055em;
  color: var(--Dark-blue);
}
.card-price .text-card p {
  font-weight: 500;
  color: var(--Desaturated-blue);
  font-size: 1.055em;
}
.card-link a {
  color: var(--Bright-blue);
  font-size: 0.85em;
  font-weight: 600;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.card-btn {
  padding: 0.95em 1em;
  background-color: var(--Bright-blue);
  box-shadow: 0em 1.2em 1.3em rgb(0 0 0 / 18%);
  transition: 0.4s;
  border-radius: 0.625em;
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

@media (max-width: 1200px) {
  .card-btn {
    padding: 0.85em 1em;
  }
}

.card-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-size: 0.85em;
}

.card-cancel > a {
  text-decoration: none;
  color: var(--Desaturated-blue);
  font-weight: 900;
  font-size: 0.85em;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/* attribution */

.attribution {
  margin-top: 1.88em;
  font-size: 0.8em;
  display: flex;
  font-weight: 600;
}
.attribution a {
  text-decoration: none;
  color: var(--Bright-blue);
  margin-left: 0.3125em;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

@media (min-width: 1200px) {
  .attribution {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .attribution {
    flex-direction: column;
  }
  .attribution .fe-mentor {
    margin-bottom: 0.1875em;
  }
}
.attribution a:hover {
  color: var(--Dark-blue);
}

.card-title {
  margin-bottom: 0.95em;
}
.card-body,
.card-btn {
  margin-bottom: 1.88em;
}
@media (max-width: 1200px) {
  .card-body,
  .card-btn {
    margin-bottom: 1.055em;
  }
}

/* hover state */

.card-link a:hover {
  text-decoration: none;
  color: var(--Desaturated-blue);
}

.card-btn:hover {
  background-color: var(--Desaturated-blue);
}

.card-cancel a:hover {
  color: var(--Dark-blue);
}

/* end card style */

/* media query  smaul*/
