/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

/* Start Global Rules */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* start global rooles */

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: var(--Pale-blue);
  background-size: contain;
  background-image: url(../images/pattern-background-desktop.svg);
  font-family: "Red Hat Display", sans-serif;
}

/* End Global Rules */

/* start card style */

@media (max-width: 767px) {
  body {
    background-image: url("../images/pattern-background-mobile.svg");
  }
}

.conatiner {
  border-radius: var(--border-radius);
  box-shadow: 0 15px 14px 2px rgb(0 0 0 / 10%);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}
.conatiner > img {
  width: 450px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: block;
}

/* card head */
.conatiner .card-head {
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  max-width: 450px;
  width: 100%;
  padding: 2.3em 3em;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.card-title h2 {
  font-weight: 900;
  margin-bottom: 1em;
  color: var(--Dark-blue);
  font-size: 25px;
}

.card-title p {
  font-size: 16px;
  color: var(--Desaturated-blue);
  line-height: 1.6;
  font-weight: 500;
}

/* card body */

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Very-pale-blue);
  border-radius: calc(var(--border-radius) - 5px);
  padding: 20px;
  -webkit-border-radius: calc(var(--border-radius) - 5px);
  -moz-border-radius: calc(var(--border-radius) - 5px);
  -ms-border-radius: calc(var(--border-radius) - 5px);
  -o-border-radius: calc(var(--border-radius) - 5px);
}

.card-body .card-price {
  display: flex;
  align-items: center;
}

.card-body .card-price .icon-card {
  margin-right: 20px;
}

.card-price .text-card h3 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  color: var(--Dark-blue);
}
.card-price .text-card p {
  font-weight: 500;
  color: var(--Desaturated-blue);
  font-size: 15px;
}
.card-link a {
  color: var(--Bright-blue);
  font-size: 14px;
  font-weight: 600;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.card-btn {
  padding: 0.85em 1em;
  background-color: var(--Bright-blue);
  box-shadow: 0em 1em 1.3em rgb(0 0 0 / 18%);
  transition: 0.4s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.card-btn a {
  text-decoration: none;
  color: var(--Very-pale-blue);
  font-weight: 600;
}

.card-cancel {
  margin-top: 5px;
}
.card-cancel > a {
  text-decoration: none;
  color: var(--Desaturated-blue);
  font-weight: 700;
  font-size: 15px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/* attribution
.attribution {
  margin-top: 30px;
  font-size: 15px;
  display: flex;
}
.attribution a {
  text-decoration: none;
  color: var(--Bright-blue);
  margin-left: 5px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

@media (max-width: 767px) {
  .attribution {
    flex-direction: column;
  }
  .attribution .fe-mentor {
    margin-bottom: 3px;
  }
}
.attribution a:hover {
  color: var(--hovercolor);
} */

/* grouping */
.card-title,
.card-body,
.card-btn {
  margin-bottom: 35px;
}

/* hover state */

.card-link a:hover {
  text-decoration: none;
  color: var(--Desaturated-blue);
}

.card-btn:hover {
  background-color: var(--Desaturated-blue);
}

.card-cancel a:hover {
  color: var(--Dark-blue);
}

/* end card style */

/* media query  smaul*/
@media (max-width: 767px) {
  .conatiner > img , .card-head {
    width: 350px !important;
  }
  .card-title {
    padding-inline: 10px;
  }
  .card-head {
    padding: 1.7em 2em !important;
  }
}

/* media query meduim */
@media (max-width: 992px) {
  .conatiner > img , .card-head {
    width: 400px !important;
  }
  .card-title,
.card-body,
.card-btn {
  margin-bottom: 20px;
}
}